[submodule "extern/charls"]
	path = extern/charls
	url = https://github.com/team-charls/charls.git
[submodule "extern/openjpeg"]
	path = extern/openjpeg
	url = https://github.com/uclouvain/openjpeg.git
