[submodule "extern/charls"]
	path = extern/charls
	url = https://github.com/team-charls/charls.git
[submodule "extern/openjpeg"]
	path = extern/openjpeg
	url = https://github.com/uclouvain/openjpeg.git
[submodule "extern/libjpeg-turbo"]
	path = extern/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
[submodule "extern/ijg"]
	path = extern/ijg
	url = https://github.com/dicom-codecs/ijg.git
[submodule "extern/test-data"]
	path = extern/test-data
	url = https://github.com/dicom-codecs/test-data.git
